* {
  box-sizing: border-box;
}
body {
  font-family: rubik, helvetica, arial, sans-serif;
  font-size: 14px;
}

a {
  color: rgb(0, 84, 168);
  text-decoration: none;
}
.float_right {
  float: right;
}
.w-20 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.main_article {
  min-width: 720px;
  width: 45%;
  padding: 30px;
  margin: auto;
  background-color: rgb(232, 233, 231);
  line-height: 1.75;
}
.info {
  width: 85%;
  margin: auto;
  padding: 15px;
  padding-left: 25px;
  border-color: rgb(187, 194, 198);
  border-width: 1px;
  border-left-width: 4px;
  border-style: solid;
  background-color: rgb(188, 212, 245); 
  line-height: initial;
}
.info-icon{
  display: inline-block;
  width: 45px ;
  height: 45px;
  padding: 3px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid rgb(187, 194, 198);
  color: white;
  background-color: rgb(96, 158, 246);
  text-align: center;
  font-size: 2.5em;
  font-family: serif;
  
}
.left {
  width: 50%;
}
.nav-menu {
  width: 120px;
  border: 1px solid rgb(187, 194, 198);
  background-color: white;
}

.title-menu {
  margin: 0;
  border-bottom: 1px solid rgb(187, 194, 198);
  background-color: rgb(234, 236, 240);
  padding: 8px 15px;
}
.nav-list {
  padding-left: 30px;
}
.video{
  display: block;
  width: 100%;
  height: 500px;
}
code{
  padding:0 4px;
  border: 1px solid rgb(187, 194, 198);
  background-color: white;
}
/*стилі для таблиці*/
.table_history {
  width: 70%;
  background-color: rgb(248, 249, 250);
  border-collapse: collapse;
}

.table_history th,
.table_history td {
  border: 1px solid grey;
  padding: 6 px;
}
.image {
  width: 90%;
}

.table_history th {
  background-color: rgb(234, 236, 240);
  color: rgb(0, 84, 168);
}
